<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">About Page</title>
</head>
<body>
<section>
    <hr/>
    <h3>Profile</h3>
    <input id="payment_field" type="text" class="form-control my-2" placeholder="Enter the amount">
    <div class="container text-center mt-3">
        <button onclick="paymentStart()" class="btn btn-success btn-block">Check Out</button>

    </div>
    <hr/>

    <script>
        $(document).ready(()=>
            {
                $(".item").removeClass("active");
                $("#home-link").addClass("active");
            }
        );
    </script>
</section>

</body>
</html>